<!DOCTYPE html>
<html>
<body>
  <div class="AboutHero">
    <img ng-repeat="HeroIMG in $ctrl.AboutHeroBNR" class="AboutHR" ng-src="{{HeroIMG.AboutBNR}}" alt="{{HeroIMG.alter}}"/>
    <div class="bottom-left">About Black Bird Homes</div>

  </div>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  </head>
<!-- <div class="AboutPage_Herotxt">
  <h1>About Black Bird Homes</h1>
</div> -->
<div class="AboutPage_AbtBBH">
  <div class="About_Logo">
    <img src="Images/Logo.webp" alt="This is the company logo"/>
  </div>
  <div class="AboutPage_AbtTXT">
    <p>This is an example of facts/Details/purpose about BBH</p>
  </div>
</div>
<div class="AboutPage_OwnerSec">
  <div class="Owner_Abouttxt">
    <p class="About_OwnerName">Name of Owner</p>
    <p>A text about Black Birds Homes CEO, past, live, anything that can help the user to know more about the owner</p>
  </div>
  <div class="Owner_IMG">
    <img src="Images/OwnerIMG.jpg" alt="A picute of Black Bird Homes CEO">
  </div>

</div>
<div class="About_CustomersComment">
  <div class="About_CustCommArrows">
    <div class="PREV_Contain">
      <button class="About_PREV" ng-href="#" ng-click="$ctrl.showPrev()"><</button>
    </div>
    <div class="NextContai">
      <button class="About_Next" ng-href="#" ng-click="$ctrl.showNext()">></button>
    </div>
  </div>
  <div class="About_comment">
    <div class="commentContain" ng-repeat="aboutcomm in $ctrl.aboutCustomerComm" ng-swipe-right="$ctrl.showPrev()" ng-swipe-left="$ctrl.showNext()" ng-show="$ctrl.isActive($index)">
      <p class="Comment">{{aboutcomm.comments}}</p>
      <p class="custName">{{aboutcomm.userName}}</p>
    </div>
  </div>

</div>




</body>
</html>
