<html>
<body>
    <div class="HomePage_Background">

        <div class="Hero_1">
              <img  ng-repeat="Image in $ctrl.Images"class="Hero_img"ng-src="{{Image.CarImg}}" alt="{{Image.alter}}" />
              <div class="center">
                <p>Black Bird Homes</p>
              </div>

        </div>

        <div class="Logo">
          <img ng-repeat="logo in $ctrl.LogoI" class="Logo_Home" ng-src="{{logo.LogoImg}}" alt="{{logo.text}}"/>
        </div>
    </div>
    <div class="Home_Abouttxt">
      <p>This is a short description of what this company is about and valius</p>
    </diV>
    <div class="Home_MoreAboutbttn">
      <button>Learn More</button>
    </div>
    <div class="Home_ProjectBox">
      <div class="Home_ProjectIMG">
        <img ng-repeat="ProIM in $ctrl.HomeProIMG" ng-src="{{ProIM.ProIMG}}"/>
      </div>
      <div class="Home_protxt">
        <p>Some general description about the house</p>
        <button>More</button>
      </div>
    </div>

</body>
</html>
