<html>
<body>

  <div class="Project_Herotxt">
    <p class="Herotxt">Projects</p>

  </div>
  <div class="Projects_FilterBar">
    <p class="Projects_Filt_txt"><strong>Search By:</strong></p>
    <select class="Project_Options" ng-model="selected" ng-options="myItem for myItem in $ctrl.uniqueTypes">
      	<option value="">---All---</option>
    </select>
  </div>
  <div class="Projects_Container">
    <ul class="Projects_List" ng-repeat="Item in $ctrl.projectItems | filter: $ctrl.customFilter(selected)">
      <div class="Project_Item_Cont">
        <a href="#!/projects/{{Item.ID}}"><img class="Project_Image" ng-src="{{Item.Image}}" alt="{{Item.Text}}" label="{{Item.typ}}"/></a>
        <li class="Project_Item">{{Item.Name}}</li>
      </div>
    </ul>
  </div>
</body>
</html>
