<!DOCTYPE html>
<html>
<body>
  <div class="Close_Button">
    <p class="Close_Button_Item"><a href="#!/projects">X</a></p>
  </div>
  <div ng-repeat="detail in $ctrl.home">
    <div class="projectDetail_Herotxt">
      <h1>{{detail.Name}}</h1>
    </div>
    <div class="Main_Image_Container">
      <button class="PREV" ng-href="#" ng-click="$ctrl.showPrev()">Prev</button>
        <img class="Main_Image slide" ng-swipe-right="$ctrl.showPrev()" ng-swipe-left="$ctrl.showNext()" ng-show="$ctrl.isActive($index)" ng-repeat="IMG in $ctrl.Images" ng-src="{{IMG}}"/>
      <button class="Next" ng-href="#" ng-click="$ctrl.showNext()">Next</button>
    </div>

    <div class="Detail_Image_Container">
      <ul class="Detail_Image">
        <li ng-repeat="img in detail.Images">
          <img ng-src="{{img}}"/>
        </li>
      </ul>
    </div>
    <div class="Slide_Buttons">

    </div>

    <div class="Detail_Content">
      <div class="Detail_Specs">
          <p><strong>Location:</strong> <br/>
            {{detail.location}}</p>
          <p><strong>Bedrooms:</strong> <br/>
            {{detail.Bedrooms}}</p>
          <p><strong>Bathrooms:</strong> <br/>
            {{detail.Bathrooms}}</p>
          <p><strong>Size:</strong><br/>
            {{detail.Size}}</p>
      </div>
      <div class="Detail_Desc">
        <p><strong>Description:</strong><br/>
          {{detail.Description}}</p>
        <p><strong>Available:</strong><br/>
          {{detail.Available}}</P>
        <p><strong>Sold:</strong><br/>
          {{detail.Sold}}</p>
        <p><strong>Price:</strong><br/>
          {{detail.Price}}</p>
      </div>
      <div class="Detail_Broad_Desc">
        <p><strong>More:</strong><br/>
          {{detail.More}}</p>
      </div>
    </div>
  </div>





</body>
</html>
