<!DOCTYPE html>
<html>
<body>

  <div ng-repeat="detail in $ctrl.home">
    <div class="projectDetail_Herotxt">
      <h1>{{detail.Name}}</h1>
    </div>
    <div class="Main_Image_Container">
      <img class="Main_Image" ng-src="{{detail.Images[0]}}"/>
    </div>

    <div class="Detail_Image_Container">
      <ul class="Detail_Image">
        <li ng-repeat="img in detail.Images">
          <img ng-src="{{img}}"/>
        </li>
      </ul>
    </div>

    <div class="Detail_Content">
      <p>Bedrooms: {{detail.Bedrooms}}</p>
      <p>Bathrooms: {{detail.Bathrooms}}</p>
    </div>
  </div>





</body>
</html>
