/* This is the Desktop Version */
/* Body page */
body {
    margin: 0 !important;
    padding: 0 !important;
}

/* Navigation */
.NavContainer{
  z-index: 1;
  position: absolute;
  margin-top: 30px;
}
.NavBar{
  display: flex;
  list-style-type: none;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Avenir Next", "Avenir", sans-serif;
  margin-top: 20px;
  margin-left: 30px;
}
.NavBar_Button{
  margin-bottom: 10px;
  font-size: 20px;
  position: absolute;
  margin-left: 25px;
  margin-top: 15px;
}

.NavItem{
  width: 120px;
  color: white;
  font-size: 16px;
  margin-bottom: 25px;
}

a.NavItem{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
a.NavItem:hover{
  color: tomato;
}

/* Home Page CSS */
.HomePage_Background{
  display: flex;
  align-items: center;
  justify-content: center;

}
/* slideshow */
.Hero_1{
  width: 50%;
  height: 820px;
}
.Hero_img{
  width: 100%;
}
.animate-enter,.animate-leave {
	-webkit-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
	-moz-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
	-ms-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
	-o-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
	transition:1000ms cubic-bezier(.165,.84,.44,1) all;
}

.animate-enter {
	left:100%;
}

.animate-enter.animate-enter-active {
	left:0;
}

.animate-leave {
	left:0;
}

.animate-leave.animate-leave-active {
	margin-left:-100%;
}
/* Company Logo */
.Logo{
  width: 50%;
  text-align: center;
}
.Logo_Home{
  padding: 15px;
  flex-wrap: wrap;
  text-align: center;
}
.Logo_Legend{
  text-align: center;
  padding-right: 17px;
}
.hide{
  display: none;
}
/* Project Section */
.Project_Herotxt{
  text-align: center;
  padding-top: 25px;
  font-size: 40px;
}
.Project_Item{
  font-size: 25px;
}



/* Body transtion effect */
main.ng-enter {
  transition:0.9s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
main.ng-enter.ng-enter-active {
  opacity:1;
}

main.ng-leave {
  position: absolute;
  opacity: 1;
  transition: 0.9s linear all;
  top: 0;
}
main.ng-leave.ng-leave-active{
  display: none;
  opacity: 0;
  top: 0;
}
