/* This is the Desktop Version */
/* Body page */
body {
    margin: 0 !important;
    padding: 0 !important;
}

/* Navigation */
.NavContainer{
  z-index: 1;
  position: absolute;
}
.NavBar_Button{
  margin-bottom: 10px;
  font-size: 20px;
}
ul.NavBar.ng-enter {
  transition: 0.9s linear all;
  transform: translateX(100px);
  opacity: 0;
}
ul.NavBar.ng-enter.ng-enter-active {
  transform: translateX(0);
  opacity: 1;
}
.NavBar{
  display: flex;
  list-style-type: none;
  flex-direction: column;
  align-items: flex-start;
  
  font-family: "Avenir Next", "Avenir", sans-serif;

}
.NavItem{
  width: 120px;
  color: white;

}

a.NavItem{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
a.NavItem:hover{
  color: tomato;
}

/* Home Page CSS */
.HomePage_Background{
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Hero_1{
  width: 50%;
  height: 790px;
}
.Logo{
  width: 50%;
  text-align: center;
}
.Logo_Home{
  border-style: double;
  border-width: 3px;
  border-color: black;
  padding: 15px;
  flex-wrap: wrap;
  text-align: center;
}
.Logo_Legend{
  text-align: center;
}
.hide{
  display: none;
}
/* Body transtion effect */
main.ng-enter {
  transition:0.9s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
main.ng-enter.ng-enter-active {
  opacity:1;
}
