/* This is the Desktop Version */
/* Body page */
body {
    margin: 0 !important;
    padding: 0 !important;
}
/* Navigation */
.NavBar{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
}
.NavItem{
  width: 90px;
}
/* Home Page CSS */
.HomePage_Background{
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Hero_1{
  width: 50%;
  height: 790px;
}
.Logo{
  width: 50%;
}
